@model ENB.Logistics.Mvc.Models.DisplayPhoneNumber

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileType)
        </dd>
        
    </dl>
</div>

