
@model ENB.Logistics.Mvc.Models.CreateAndEditPhoneNumber
@{
    ViewBag.Title = "Edit Phone Number";
}

    <div class="alert alert-dismissible alert-success">
        <h2>@ViewBag.Title</h2>
    </div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.Partial("_CreateOrEdit", Model)

            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit" class="btn btn-success" />
                    <input type="button" class="btn btn-success" value="Cancel" onclick="location.href='@Url.Action("List", "PhoneNumbers", new { ViewBag.OperatorId })'" />
                </div>
            </div>


        }
