@model ENB.Logistics.Mvc.Models.DisplayEmailAddress


    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddressText)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailAddressText)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProfileType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProfileType)
            </dd>
  </dl>
</div>