@model ENB.Logistics.Mvc.Models.DisplayEmailAddress


@{
    ViewBag.Title = ViewBag.Message + "Details E=mailAddress";
}
<h2></h2>
<fieldset>
    <legend></legend>
    @Html.Partial("_Details", Model)
</fieldset>



<br /><b>
   
    <input type="button" class="btn btn-success" value="Back to List" onclick="location.href='@Url.Action("List", "EmailAddresses", new {OperatorId = ViewBag.OperatorId })'" />
</b>